*.html linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false
*.mjs linguist-detectable=false
*.cjs linguist-detectable=false
Makefile linguist-detectable=false
makefile linguist-detectable=false
*.rsc linguist-detectable=false